<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../assets/css/contato.css">
        <script src="../assets/js/menu.js"></script>
        <title>ADORÁVEIS VIDA LATA</title>
    </head>
    <body onload="load()">
        <header class="header">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <div class="title">
                <p class="title-main">ADORÁVEIS VIDA LATA</p>
                <p>INSTITUIÇÃO DE RESGASTE E CUIDADOS AOS ANIMAIS</p>
            </div>
            <div class="div-menu">
                <nav class="menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="sobre.html">Sobre</a></li>
                        <li><a href="fotos.html">Fotos</a></li>
                        <li><a href="contato.html" style="color: #3B487F;">Contato</a></li>
                        <li style="border: none;"><a href="resgate.html">Resgate</a></li>
                    </ul>
                </nav>
                <div class="ResponsiveMenu"></div>
            </div>
        </header>

        <main class="main">
            <section class="main-section-contato">
                <div class="title-contato">
                    <div class="image-contato" id="image-telefone"></div>
                    <div class="text-contato"><p>Telefone</p></div>
                </div>

                <p class="p-text">998267285</p>

                <div class="title-contato">
                    <div class="image-contato" id="image-instagram"></div>
                    <div class="text-contato"><p>Instagram</p></div>
                </div>

                <p class="p-text">@adoraveisvidas</p>

                <div class="title-contato">
                    <div class="image-contato" id="image-email"></div>
                    <div class="text-contato"><p>Email</p></div>
                </div>

                <p class="p-text">adoraveisvidalataong@gmail.com</p>
            </section>
        </main>

        <footer class="footer">

        </footer>
    </body>
</html>