<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../assets/css/sobre.css">
        <script src="../assets/js/menu.js"></script>
        <title>ADORÁVEIS VIDA LATA</title>
    </head>
    <body onload="load()">
        <header class="header">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo">
            </div>
            <div class="title">
                <p class="title-main">ADORÁVEIS VIDA LATA </p>
                <p>INSTITUIÇÃO DE RESGASTE E CUIDADOS AOS ANIMAIS</p>
            </div>
            <div class="div-menu">
                <nav class="menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="sobre.html" style="color: #3B487F;">Sobre</a></li>
                        <li><a href="fotos.html">Fotos</a></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li style="border: none;"><a href="resgate.html">Resgate</a></li>
                    </ul>
                </nav>
                <div class="ResponsiveMenu"></div>
            </div>
        </header>

        <main class="main">
            <section class="main-section-sobre">
                <p>Criado em 2018, o projeto atua na cidade de Limoeiro / PE e, quando possível nas cidades circunvizinhas. Refere-se a um grupo reduzido de pessoas amigas, que optaram dedicar parte do tempo para proteger, cuidar e resgatar aqueles que não tem voz nem vez, aqueles que sentem fome, sede, frio, solidão e estão doentes pelas ruas abandonados, correndo risco de morte e não sabem dizer uma só palavra para pedir ajuda, os animais!</p>
            </section>
        </main>

        <footer class="footer">

        </footer>
    </body>
</html>