@charset "utf-8";

.main-section-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-section-fotos > img {
    width: 25%;
    min-width: 400px;
    margin: 2% 3%;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    image-rendering: optimizeQuality;
}

.main-section-fotos > img:hover {           
    transform: scale(1.02);
    cursor: pointer;
}

@media(max-width: 720px) {
    .main-section-fotos > img {
        width: 40%;
    }
}

@media(max-width: 456px) {
    .main-section-fotos > img {
        width: 95%;
        min-width: unset;
    }
}
