@charset "utf-8";

.main-section-sobre {
    background-color: #00B2F0;
    color: #3B487F;
    border-radius: 24px;
    width: 50%;
    padding: 2%;
}

.main-section-sobre > p {
    font-size: 1.8rem;
    text-align: justify;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsividade */

@media(max-width: 720px) {
    .main-section-sobre {
        width: 75%;
    }   
}

@media(max-width: 522px) {
    .main-section-sobre {
        width: 90%;
    }  
    
    .main-section-sobre > p {
        font-size: 1.4rem;
    }
}

@media(max-width: 400px) {
    .main-section-sobre {
        width: 95%;
    }   
}