@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr 80px;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0px;
    background-color: #00b2f0;
    border-bottom: 2px solid #00b2f0;
    display: grid;
    z-index: 1;
    grid-template-columns: 168px 1fr;
    grid-template-rows: 1fr 30px;
    grid-template-areas: 
        "logo title"
        "logo nav"
    ;
}

.header > .logo {
    grid-area: logo;
    height: 1fr;
    padding: 2px;
    margin-left: 5px;
}

.header > .logo > img{
    height: 100%;
}

.header > .title{
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header > .title > p {
    color: #fff;
    margin-left: -173px;
}

.header > .title > .title-main {
    font-family: "Yesteryear";
    font-size: 3rem;
}

.header > .title > .title-main ~ p {
    font-size: 1.1rem;
}

.header > .div-menu {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.header > .div-menu > .menu {
    margin-right: 10px;
    height: 100%;
}

.header .menu > ul {
    list-style: none;
    height: 100%;
    display: flex;
}

.header .menu > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    transition: 0.2s ease;
}

.header .menu > ul > li:hover {
    transform: scale(1.1);
}

.header .menu > ul > li:hover a {
    color: #3B487F;
}

.header .menu > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.main {
    grid-area: main;
    padding: 10px;
    background-color: #fff;
}

.footer {
    grid-area: footer;
    background-color: #00b2f0;
}

.div-menu > .ResponsiveMenu {
    display: none;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url("../img/iconeMenu.png");
    background-position: center;
    background-size: cover;
}

.div-menu > .ResponsiveMenu:hover {
    transform: scale(1.05);
}

/* Responsividade */

@media (max-width: 980px) {
    .header > .title > p {
        color: #fff;
        margin-left: unset;
    }
}

@media (max-width: 720px) {
    .buttonMenu {
        display: block;
    }

    .header {
        position: unset;
        top: unset;
        grid-template-columns: 105px 1fr;
        grid-template-rows: 1fr 100px;
        grid-template-areas: 
            "title title"
            "logo nav"            
        ;
    }

    body {
        grid-template-rows: 200px 1fr 80px;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
    }

    .div-menu > .ResponsiveMenu {
        display: block;
    }

    .header > .div-menu {
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        align-items: center; 
    }

    .header > .div-menu > .menu {
        position: relative;
        top: 60px;
        right: -8px;
        width: 120px;
        min-height: 175px;
        border-radius: 10px;
        background-color: blue;
        display: none;
        flex-direction: row;
    }
    
    .header > .div-menu > .menu > ul {
        height: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header > .div-menu > .menu > ul > li {
        margin: 5px 0;
    }

    .header > .div-menu > .menu > ul > li:hover {
        transform: unset;
        text-decoration: underline;
    }
}

@media (max-width: 525px) {
    .header > .title > .title-main {
        font-size: 2.5rem;
        text-align: center;
        margin: 0 5px;
        margin-top: 5px;
    }
    
    .header > .title > .title-main ~ p {
        font-size: 1rem;
        text-align: center;
        margin: 0 5px;
    }

    body {
        grid-template-rows: 200px 1fr 80px;
    }
}

@media (max-width: 450px) {
    .header > .title > .title-main {
        font-size: 2.2rem;
    }
    
    .header > .title > .title-main ~ p {
        font-size: 1rem;
    }

    body {
        grid-template-rows: 200px 1fr 80px;
    }
}

@media (max-width: 402px) {
    .header > .title > .title-main {
        font-size: 2.1rem;
    }
    
    .header > .title > .title-main ~ p {
        font-size: 0.8rem;
    }
}

@media (max-width: 382px) {
    .header > .title > .title-main {
        font-size: 2.1rem;
    }
    
    .header > .title > .title-main ~ p {
        font-size: 0.8rem;
    }

    body {
        grid-template-rows: 230px 1fr 80px;
    }
}

@media (max-width: 365px) {
    .header > .title > .title-main {
        font-size: 2.1rem;
    }
    
    .header > .title > .title-main ~ p {
        font-size: 0.8rem;
    }

    body {
        grid-template-rows: 250px 1fr 80px;
    }
}